<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<display-name>Archetype Created Web Application</display-name>

	<session-config>
		<session-timeout>60</session-timeout> <!-- 세션 타임아웃을 60분으로 설정 -->
		<tracking-mode>COOKIE</tracking-mode> <!-- 세션 추적 모드를 쿠키로 설정 -->
	</session-config>

	<!-- WAS를 구동하면서 웹스퀘어 엔진을 로딩하기 위해서 JavascriptInitializer를 listener에 등록 -->
	<listener>
		<listener-class>websquare.http.controller.JavascriptInitializer</listener-class>
	</listener>

	<servlet>
		<servlet-name>websquareDispatcher</servlet-name>
		<servlet-class>websquare.http.DefaultRequestDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>websquareDispatcher</servlet-name>
		<url-pattern>*.wq</url-pattern>
	</servlet-mapping>

	<!-- 웰컴 페이지 설정 -->
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/websquare/websquare.jsp</welcome-file>
	</welcome-file-list>

</web-app>
